
* {
    margin: 0px;
    font-family: "Open Sans", "sans-serif";
}

body {
    box-sizing: border-box;
}

.bg-container {
    background-color: #f8f9fa;
    padding: 50px;
    height: 120vh;
}

.bg-container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.err-msg {
    color: red;
}

.operation-btn {
    display: flex;
    gap: 2rem;
}

hr {
    border-width: 2px;
    border-style: solid;
}

.user_input {
    height: 40px;
    width: 450px;
}

.stack_wrapper {
    background-color: azure;
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
}

.stack-container {
    display: flex;
    justify-content: space-evenly;
}

.stack-output {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 50px;
}

.operation-btn .custom-btn {
    background-color: green;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    height: 3rem;
    width: 9rem;
    font-size: 30px;
    cursor: pointer;
}

.stack-output-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 34rem;
    width: 300px;
    border: 2px solid black;
    border-top: none;
    padding: 10px;
}

.stack-output-container button {
    flex-shrink: 0;
    min-height: 90px;
    width: 15rem;
    border-width: 0px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 3rem;
    margin-top: 20px;
}

.stack-output-container button:hover {
    background-color: blueviolet;
}

.stack_data {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 20px;
}


.stack_data .data {
    align-self: center;
    height: 60px;
    width: 100px;
    background-color: green;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

.stack_data #top_stack_btn {
    margin-left: 1.5rem;
}

.stack_data #last_pushed_stack_btn {
    margin-left: 1.2rem;
}

.stack_data #last_popped_stack_btn {
    margin-left: 1.2rem;
}

.stack_data #size_of_stack_data {
    margin-left: 1.5rem;
}


.size_of_stack_data {
    font-size: 24px;
    font-weight: bold;
}

.stack_data p {
    align-self: center;
}

.output-message {
    height: 180px;
    width: 300px;
    background-color: lightblue;
    border-radius: 8px;
    text-align: center;
    line-height: 30px;
    padding: 18px;
}

.output-message h1 {
    color: black;
    font-size: 40px;
    margin-top: 20px;
}

.result-msg {
    font-size: 24px;
    margin-top: 50px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: red;
}
